{{>navbar}}
<form action="/login" method="post">
<input type="password" placeholder="password" value="" name="password">
<input type="email" placeholder="emailid" value="" name="email">
<input type="submit" value="Login">
</form>