{{>navbar}}
<form action="/register" method="post">
<input type="text" placeholder="name" value="" name="name">
<input type="password" placeholder="password" value="" name="password">
<input type="email" placeholder="emailid" value="" name="email">
<span>
  <input type="radio" name="gender" value="male">  male
</span>
<span>
  <input type="radio" name="gender" value="female"> female
</span>

<input type="submit" value="Register">
</form>